* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url('bg.jpeg'); */
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.taskbar {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f3f3f3;
    height: 5%;
}

.right {
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}

.startmenu {
    position: absolute;
    width: 100%;
    /* bottom: 50px; */
    bottom: -650px;
    text-align: center;
    transition: all 0.3s ease-in;
}

.startmenu img {
    border-radius: 10px;
}

.taskbaricons img {
    width: 48px;
    aspect-ratio: 1/1;
    object-fit: contain;
    /* border: 1px solid black; */
}

.search img{
    height: 33px;
    aspect-ratio: 1/1;
    transform: scaleX(-1);
}

.edge img{
    height: 30px;
    aspect-ratio: 1/1;
}

.chrome img, .explorer img{
    height: 37px;
    aspect-ratio: 1/1;
}